@font-face {
    font-family: roboto;
    src: url(./Roboto_Condensed/RobotoCondensed-Regular.ttf);
  }

* {
    margin: 0;
    padding: 0;
    font-family: "roboto";
}

#banner {
    background-color: black;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner h1 {
    color: #D3D3D3;
    padding-left: 1rem;
    font-size: 4rem;
}

.subheading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.about-me-description {
    padding: 1rem;
}

#julian-picture {
    width: 100%;
}


.drop-down-box {
    border: solid #111 1px;
    width: 80%;
    margin: 0 auto 3rem auto;
    padding: 1rem;
    box-shadow: 5px 5px;
    color: #444;
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
    transition: background-color 1.5s,
}

.drop-down-box:hover {
    background-color: #ccc;
}

.drop-down-box p {
    font-weight: 900;
}

.content {
    width: 80vw;
    padding: 10px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-left: 30px;
    margin-bottom: 3rem;
}

.project-skills-description {
    padding: 1rem;
    justify-content: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container img{
    height: 150px;
    margin-top: 1rem;
    border: 1px solid #111;
    box-shadow: 3px 3px #111;
}

.contact-box {
    border: solid #111 1px;
    width: 80%;
    margin: 0 auto 2rem auto;
    padding: 1rem;
    box-shadow: 5px 5px;
    color: #444;
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
    transition: background-color 1.5s,
}

footer {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

footer p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 12px;
}