@font-face {
    font-family: roboto;
    src: url(./Roboto_Condensed/RobotoCondensed-Regular.ttf);
  }

nav {
    height: 4rem;
    position: fixed;
    background-color: #D3D3D3;
    width: 100vw;
    border: 1px solid #36454f;
    z-index: 1;
}

#nav-name {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    margin-top: 1.2rem;
    min-width: 252px;
}

#list-about-me {
    min-width: 74px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    font-weight: 700;
}

.nav-container {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: end;
    padding-right: 3rem;
    font-size: 1.2rem;
    margin-right: 5rem;
}

body {
    font-family: roboto;
    color: #36454f;
    margin: 0px;
}

header {
    background-color: black;
    display: flex;
    height: 95vh;
    gap: 30rem;
    position: relative;
    top: 4rem;    
}

#header-text {
    padding-left: 30px;
    color: #D3D3D3;
    font-size: 5rem;
    width: 100vw;
}

#header-image img {
    height: 500px;
    border: 1px solid #36454f;
    box-shadow: 5px 5px #36454f;
    position: relative;
    top: 9%;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 400px;
    height: 130px;
}

.nav-container > li > a {
    text-decoration: none;
    color: #36454f;
}

.nav-container > li {
    padding: 0.3rem 10px 10px 10px;
}

.nav-container li a:hover {
    color: #2a9df4;
}

#about-me-blank {
    height: 4rem;
}

#projects-blank {
    height: 4rem;
}

#skills-blank {
    height: 4rem;
}

#contact-blank {
    height: 4rem;
}

#about-me-section {
    margin-left: 30px;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

#about-me-text-1, #about-me-text-2 {
    width: 30%;
}


#about-me-image img {
    height: 450px;
    border: 1px solid #36454f;
    box-shadow: 5px 5px #36454f;
}

#about-me, #skills, #projects, #contact {
    margin-left: 30px;
}

.project-container {
    border: 1px solid #36454f;
    height: 50px;
    margin: 30px;
    padding: 10px;
    padding-left: 30px;
    box-shadow: 5px 5px  #36454f;
}

button {
    font-weight: 700;
}

#contact-button a{
    color: #36454f;
    font-weight: 700;
}

.collapsible {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 95vw;
    margin: 30px;
    border: 1px solid #36454f;
    box-shadow: 5px 5px  #36454f;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
  }

#contact-final-container:hover {
    background-color: #ccc;
}

.content {
    width: 80vw;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-left: 30px;
    margin-bottom: 0px;
}

.image-container {
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.image-container img {
    height: 200px;
    border: 1px solid #36454f;
    box-shadow: 5px 5px #36454f;
}

.project-header {
    display: flex;
    gap: 1rem;
}

.expand-sign {
    font-size: 2rem;
    position: relative;
    bottom: 20px;
}

#resume-website-details {
    visibility: hidden;
}

.details-images {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;  
}

#resume-website-details img {
    height: 150px;
}

.skills-box {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px solid #36454f;
    box-shadow: 5px 5px #36454f;
    background-color: white;
    align-items: center;
    text-align: center;
    font-weight: 800;
}



#contact-final-container {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 200px;
    padding-left: 0px;
}

#contact-final-container p a {
    text-decoration: none;
    width: 95vw;
}

hr {
    box-shadow: 5px 5px 5px #36454f;
    margin-top: 0px;
}

#contact-page-body {
    background-color: #ccc;
}

#contact-page-main {
    display: flex;
    justify-content: center;
    height: 85vh;
    align-items: center;
}

.contact-container {
    height: 320px;
    width: 600px;
    border: 1px solid #36454f;
    box-shadow: 5px 5px #36454f;
    background-color: white;
}

.contact-container p {
    margin-left: 30px;
    font-weight: 800;
}

#social-media-container{
    display: flex;
    justify-content: space-evenly;
}

.social-media-box {
    height: 100px;
    width: 100px;
    border: 1px solid #36454f;
    box-shadow: 5px 5px #36454f;
    border-radius: 20px;
}

#linkedin-box {
    background-image: url(./linked-in-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#instagram-box {
    background-image: url(./instagram-logo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

@media only screen and (min-width:1400px) {
    #about-me-section {
        align-items: center;
    }
    
}

@media only screen and (max-width: 1300px) {
    #about-me-section {
        flex-direction: column;
        align-items: center;
    }

    #about-me-text-1, #about-me-text-2 {
        width: 80%;
    }
}


@media only screen and (max-width: 815px) {
    #nav-name {
        display: none;
    }

    .nav-container {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        margin-right: 0;
    }

    .container {
        padding-left: 0;
        justify-content: center;
    }
}

@media only screen and (max-width: 650px) {
    .contact-container {
        width: 80%;
    }
}

@media only screen and (max-width: 580px) {
    #header-text {
        font-size: 4rem;
    }
    
}

@media only screen and (max-width: 615px) {
    .skills-box {
        height: 450px;
        width: 450px;
        font-size: 2.75rem;
    }
}

@media only screen and (min-height: 750px ) {
    #header-text {
        font-size: 6rem;
    }

    h1 {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 700px) and (min-height: 750px){
    #header-text {
        font-size: 4rem;
    }

    h1 {
        margin-bottom: 0rem;
        height: 110px;
    }

    header {
        height: 65vh;
    }
    
}